@import 'layout/sprite';

.brands{
    background-color: #f8f9fa;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h2{
        display: none;
    }
    
    .slack{
////        width: 45px;
//        height: 45px;
//        padding-right: 3rem;
        @include sprite($slack);
    }
    
    .adobe{
        @include sprite($adobe);
    }
    
    .google{
        @include sprite($google);
    }
    
    .facebook{
        @include sprite($facebook);
    }
    
    
    .spotify{
        @include sprite($spotify);
    }
    
    .nike{
        @include sprite($nike);
    }
}

.images-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}