@mixin background {
    background: url(../../images/zxc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}


.client{
    height:1600px;
    background-image: url(../../images/zxc.jpg);
    background-size: cover;
    background-position: 42%;
    display: flex;
    justify-content: center;
    position: relative;
    
    &-heading{
        text-align: center;
        font-family: 'OpenSans';
        font-size: 2.5rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-top: 5rem;
        position: relative;
        
        &::before{
            content: ' ';
            background: url(../../images/wave.png);
            position: absolute;
            top: -38px;
            right: 48%;
            height: 8px;
            width: 80px;
           
        }
    }
    
    .quote-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 310px;
        padding-top: 3rem;
        
        blockquote{
            position: relative;
            padding-bottom: 1rem;
            margin-left: 0;
            margin-right: .5rem;
            
            q{
                font-family: 'OpenSans';
                font-weight: normal;
                font-size: 1.1rem;
                color: #bcbcbc;
                padding-right: .5rem;

                
                &::before {
                  color: #bcbcbc;
                  content: open-quote;
                  font-family: 'LeagueGothic';
                  font-weight: normal;
                  font-size: 90px;
                  line-height: 120px;
                  left: 0;
                  top: -50px;
                  position: absolute;
                  width: 90px;
                }
            }
        }
    }
    
    .quote-1{
        display: flex;
        flex-direction: column;
        height: 310px;
        width: 48%;
        margin-right: 2%;
    } 
    .quote-2{
        @extend .quote-1;
        margin-right: 0;
    }
    
    .person-1{
        display: flex;
        align-items: center;
//        padding-left: 2.5rem;
        
        img{
            border-radius: 120px;
        }
        
        p{
            text-indent: 15px;
            color: #36aeea;
            font-weight: 700;
            font-family: 'OpenSans';
        }
        
        
        span{
            color: #5abaea;
            font-weight: 100;
        }
    }
    
    .person-2{
        @extend .person-1;
    }
}

.form-wrapper{
    display: flex;
    justify-content: center;
    height: 625px;
    align-items: flex-end;
    background-image: inherit;
    
        
}

.client-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 515px;
  height: 515px;
  background: inherit;
  position: relative;
  overflow: hidden;
  top: 20%;
  left: 3%;
  z-index: 2;
  border-radius: 8px;
  background: inherit;
  z-index: 1;

 
      &::before {
          width: 575px;
          height: 575px;
          content: "";
          position: absolute;
          
          left: -25px;
          bottom: 0;
          right: 0;
          background: inherit;
          box-shadow: inset 1000px 1000px 50px 50px rgba(255,255,255, .15);
          filter: blur(10px);
          z-index: -1;
    }
    

    &-heading{
        font-size: 2.3rem;
        color: #36aeea;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 0;
        font-family: 'OpenSans';
    }
    
    .input{
        width: 460px;
        height: 65px;
        margin-bottom: 2rem;
        color: #cccccc;
        text-indent: 25px;
        font-size: 1.6rem;
        border: none;
        border-radius: 7px;

        &:first-of-type{
            padding-right: 0;
        }
        
        
    }
    
    .button-send{
        width: 460px;
        height: 70px;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 2px;
        font-family: 'OpenSans';
        font-size: 1rem;
    }
    
    span{
        color: #3e4653;
        font-size: 1rem;
        padding-bottom: 2rem;
        font-family: 'OpenSans';
        font-weight: normal;
    }
}

