@font-face{
    font-family: "OpenSans";
    font-weight: normal;
    src : url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face{
    font-family: "OpenSans";
    font-weight: bold;
    src : url('../fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face{
    font-family: "Bringin";
    src : url('../fonts/Bringin/Bringin.woff');
    src : url('../fonts/Bringin/Bringin.woff2');
    src : url('../fonts/Bringin/Bringin.oft');
    src : url('../fonts/Bringin/Bringin.ttf');
}

@font-face{
    font-family: "LeagueGothic";
    src : url('../fonts/LeagueGothic/LeagueGothicRegular.ttf');
    src : url('../fonts/LeagueGothic/LeagueGothicRegular.woff'); 
    src : url('../fonts/LeagueGothic/LeagueGothicRegular.eot');
}