@media screen and (min-width: 290px) and ( max-width: 380px ){
    .footer{
        
        &-content-icons{
            
            img{
                width: 25px;
            }
        }
    }
}

@media screen and ( max-width: 599px ){
 
    /* ===== Header ===== */
    .header{
        background-image: url(../../images/bg.jpg);
        background-size: cover;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 60%;
        display: flex;
        justify-content: center;
        
        &-info{
            width: 100%;
            align-items: center;
        }
        
        &-menu{
           width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            
            &-logo{
               
            }
            
            .burger-nav{
                display: block;
                height: 40px;
                width: 100%;
                background: url(../../images/burger.png) no-repeat;
                background-position: 95%;
                cursor: pointer;
            }
            
            &-list{
//               
//                width: 100%;
//                display: none;
//                flex-wrap: wrap;
                overflow: hidden;
                background: transparent;
                position: absolute;
                width: 100%;
                top: 85px;
                height: 0;
                

               
                
                
                
                &__item{
                    width: 100%;
                    float: none;
                    height: 20px;
                    font-size: 1.7rem;
                    margin-top: 0;
                    margin-right: 1.5rem;
                    text-align: center;
                    padding: 3rem;
                    border-bottom: none;
                    cursor: pointer;
                    
                    a{
                        color: #000;
                    }
                }
            }
            
            &-list--open{
               height: 90vh;
               box-shadow: inset 0 0 0 400px rgba(255,255,255,0.3);
   
            }
            
            &-btn{
                display: none;
            }
        }
        
        &-info-heading{
            font-size: 2.2rem;
            width: 100%;
            text-align: center;
        }
        
        &-info-unique{
            font-size: 3.3rem;
            margin-top: -12px;
        }
        
        &-info-text{
            font-size: 1.3rem;
        }
        
        .btn-order{
            width: 155px;
        }
            
    }
    
    /* ===== End of Header ===== */
    
    /* ===== About ===== */
    .about{
        background-position: center;
        height: 70vh;
        
        .about-wrapp{
            
            .about-info{
                margin-top: 5rem;
                align-items: center;


                &__heading{
                   font-size: 3rem;
                }

                &__text{
                    width: 100%;
                    text-align: center;
                    font-size: 1.8rem;
                }
            }
        }
        
        .btn-more{
            width: 250px;
            height: 62px;
        }
        
       &__image-first{
        display: none;
       }

       &__image-second{
            display: none;
        }
    }
    
    /* ===== End of About ===== */
    
    /* ===== Journal ===== */
    
    .journal{
        height: 100%;
        padding-bottom: 5rem;    
        
        &-heading{
            font-size: 3rem;
            letter-spacing: 6px;
            
            &::before{
                top: -8px;
                right: 44%;
            }
        }
    }
    
    .journal-box-wrapp{
        flex-wrap: wrap;
    }
    
    .journal-box-first{
        width: 100%;
        flex-direction: column;
        align-items: center;
        
        &__info{
            width: 100%;
           
            &-span{
                font-size: 1.5rem;
            }
            
            &-heading{
               font-size: 1.8rem; 
            }
            
            &-text{
                font-size: 1.3rem;
                width: 300px;
            }
        }
        
        &__img-1{
            width: 100%;
        }
        
    }
    
    .journal-box-second{
        width: 100%;
        flex-direction: column;
        align-items: center;
        order: -1;
        
        
       &__info{
           width: 100%;
            
           
            &-span{
                font-size: 1.5rem;
            }
           
            &-heading{
               font-size: 1.8rem; 
            }
            
            &-text{
                font-size: 1.2rem;
                width: 300px;
            }
        }
        
        &__img-1{
            width: 100%;
            order: -1;
        }
    } 
    
    .journal-box-third{
        width: 100%;
        flex-direction: column;
        align-items: center;
        
        
        &__info{
            width: 100%;
           
            &-span{
                font-size: 1.5rem;
            }
            
            &-heading{
               font-size: 1.8rem; 
            }
            
            &-text{
                font-size: 1.2rem;
                width: 300px;
                padding-bottom: 3rem;
            }
        }
        
        &__img-1{
            width: 100%;
        }
    }
    
    /* ===== End of Journal ===== */
    
    /* ===== Wanna ===== */
    
    .wanna{
        background-position: 70%;
        
        .wave-img-start{
            text-align: center;
        }
        
        &-heading{
            font-size: 1.3rem;
            text-align: center;
            
            &::before{
                left: 37%;
            }
        }
        
        &-text{
            font-size: 1rem;
            text-align: center;
        }
        
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1rem;
            
            .btn{
                padding: 22px 97px;
            }
            
            input{
                margin-bottom: 1.5rem;
            }
        }
        
        &-lock{
            text-align: center;
                
                &__text{
                    font-size: 1rem;    
                }
        }
    }
    
    /* ===== End of wanna ===== */
    
    /* ===== Work ===== */
    
   .work{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background-position: center;
        padding-bottom: 0;
       background-size: cover;
    
       &-heading{
           font-size: 1.5rem;
           
       }
        
       &-wrapper{
            flex-wrap: wrap;
           &::before{
               width: 0;
           }
           
           .work__third{
               
           }

           .work__fourth{
              
           }
       }
        

//        &-card:nth-child(2n){
//            display: none;
//        }
//
//        &-text:nth-child(2n){
//            display: none;
//        }
    
    }
    
    /* ===== End of Work ===== */
    
    /* ===== Gallery ===== */
    
    .gallery{
        flex-direction: row;
        
        &-col-wrapper{
            flex-direction: column;
            
            .gallery-col-1{
                flex-direction: column;
                width: 100%;
                
                img{
                    padding-left: .5rem;
                }
            }
            
            .gallery-col-2{
                flex-direction: column;
                width: 100%;
                
                img{
                    padding-left: .5rem;
                }
                
            }
            
            .gallery-col-3{
                flex-direction: column;
                width: 100%;
                
                
                img{
                    padding-left: .5rem;
                }
            }
        }
    }
    
     /* ===== End  Gallery ===== */
    
    /* ===== Brands  ===== */
    
    .images-wrapper{
        flex-wrap: wrap;
        
        %margin{
          margin-right: 2rem;
          margin-bottom: .5rem;
        }
        
        .slack{
           @extend %margin;
        }
        
        .adobe{
            @extend %margin;
        }
        
        .google{
            @extend %margin;
        }
        
        .facebook{
            @extend %margin;
        }
        
        .spotify{
            @extend %margin;
        }
        
        .nike{
            margin-right: 1rem;
        }
    }
    
    /* ===== End of brands ===== */
     /* ===== Client ===== */
    .client{
        background-position: right;
        
        &-heading{
            font-size: 2rem;
        }
        
        .quote-wrapper{
            
            .quote-1{
                width: 100%;
                margin-right: 0;
                
                img{
                    margin-left: 1rem;
                }
                
                blockquote{
                    width: 100%;
                    padding-left: 1rem;
                    padding-bottom: 2rem;
                    
                    q{
                        text-indent: 10px;
                        font-size: 1.3rem;
                    }
                }
                
                .person-1{
                   justify-content: center;
                    
                }
            }
            
            .quote-2{
                display: none;
            }
        }
        
        &-form{
            width: 350px;
            height: 515px;
            left: 0;
            
            .input{
                width: 300px;
            }
            
            .button-send{
                width: 300px;
                height: 50px;
            }
        }
    }
    
    /* ===== End of Client ===== */
    
    /* ===== Footer ===== */
    
    .footer{
        &-content-reserved{
            font-size: 1rem;
            text-align: center;
        }
        
        &-content-icons{
           
        }
        
        &-content-number{
            font-size: 1rem;
        }
    }
    
    /* ===== End of Footer ===== */
}


@media screen and (min-width:600px) and ( max-width: 899px ){
    
    /* ===== Header section ===== */ 
    
        .header{
        
            &::before{
                content: '';
                height: 90px;
                width: 100%;
                position: absolute;
                box-shadow: inset 0 0 0 80px rgba(255, 255, 255, 0.3);
                z-index: 1;
            }
        
        }
    
    .header-info{
        width: 75%;
    }
    
    
    
    .header-menu-list{
        padding: 0 10px;
        display: inline-flex;
        width: 100%;
    }
    
    .header-menu-list__item{
        font-size: 1rem;
        margin-right: .6rem;
        
    }
    
    .header-menu-btn{
         width: 130px;
    }
    
     /* ===== End of Header section ===== */  
    
   .about{
        background-position: center;
        height: 70vh; 
        
       &-wrapp{
           justify-content: center;
           align-items: center
       }
       
        &-info{
            margin-top: 5rem;
            align-items: center;
            
            &__heading{
                font-size: 2.6rem;
            }
            
            &__text{
                width: 100%;
                text-align: center;
                font-size: 1.8rem;
            }
        }
        
        .btn-more{
            width: 250px;
            height: 62px;
        }
        
       &__image-first{
        display: none;
       }

       &__image-second{
            display: none;
        }
    }
    

    
    /* ===== Journal section ===== */
    
    
    .journal{
        height: 100%;
        padding-bottom: 5rem;    
    }
    
    .journal-box-wrapp{
        flex-wrap: wrap;
    }
    
    .journal-box-first{
        width: 100%;
        flex-direction: row;
        
        &__info{
            width: 50%;
            
       
            
            &-heading{
               font-size: 1rem; 
            }
            
            &-text{
                font-size: 1rem;
                width: 300px;
            }
        }
        
        &__img-1{
            width: 50%;
            
             &::before{
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                right: -1%;
                top: calc(15% - 12px);
                border-top: 20px solid transparent;
                border-right: 23px solid #ffff;
                border-bottom: 20px solid transparent;
           }
        }
        
    }
    
    .journal-box-second{
        width: 100%;
        flex-direction: row;
        
        
       &__info{
           width: 50%;
           
            
            &-heading{
               font-size: 1rem; 
            }
            
            &-text{
                font-size: 1rem;
                width: 300px;
            }
        }
        
        &__img-1{
            width: 50%;
            
            &::before{
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                left: -1%;
                top: calc(15% - 12px);
                border-top: 20px solid transparent;
                border-left: 24px solid #fff;
                border-bottom: 20px solid transparent;
                z-index: 1;
           }
        }
    } 
    
    .journal-box-third{
        width: 100%;
        flex-direction: row;
        
        
        &__info{
            width: 50%;
            
            &::before{
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                top: 0;
            }
            
            &-heading{
               font-size: 1rem; 
            }
            
            &-text{
                font-size: 1rem;
                width: 300px;
            }
        }
        
        &__img-1{
            width: 50%;
            
            &::before{
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                right: -1%;
                top: calc(15% - 12px);
                border-top: 20px solid transparent;
                border-right: 23px solid #ffff;
                border-bottom: 20px solid transparent;
            }
        }
    }
    
    
    

    
    /* ===== End of Journal section ===== */

    
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        input{
            margin-bottom: 1.5rem;
            
            &:first-of-type{
                padding-right: 0;
            }   
        }
    }
    
    /* ===== Wanna section ===== */
    
 .wanna{
        background-position: 60%;
        
        .wave-img-start{
            text-align: center;
        }
        
        &-heading{
            text-align: center;
            font-size: 1.8rem;
            
            &::before{
                left: 42%;
            }
        }
        
        &-text{
            font-size: 1.6rem;
            text-align: center;
            font-family: 'OpenSans';
            font-weight: normal;
        }
        
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1rem;
            
            .btn{
                padding: 22px 97px;
            }
            
            input{
                margin-bottom: 1.5rem;
            }
        }
        
        &-lock{
            text-align: center;
                
                &__text{
                    font-size: 1.2rem;
                    font-family: 'OpenSans';
                    font-weight: normal;
                }
        }
    }
    
    /* ===== End of Wanna section ===== */
    
    /* ===== Work section ===== */
    
    .work{
        background-position: center;
        background-size: cover;
        padding-bottom: 45rem;
        
        &-heading{
            
            &::before{
                right: 45%;
            }
        }
        
        &-wrapper{
            flex-wrap: wrap;
            
           &::before{
            content: '';
            display: none;
        } 
        
            .work__first{
                width: 50%;
            }
            
            .work__second{
                width: 50%;
            }

            .work__third{
                width: 50%;
            }

            .work__fourth{
                width: 50%;
            }
        }
    }

    
     /* ===== End of Work section ===== */
    
     /* ===== Gallery section ===== */
    
    .gallery{
        flex-direction: row;
        
        &-col-wrapper{
            height: 800px;
            flex-direction: column;
            
            .gallery-col-1{
                flex-direction: row;
                height: 300px;
                width: 100%;
                
                img{
                    height: 250px;
                    padding-left: .5rem;
                }
            }
            
            .gallery-col-2{
                flex-direction: row;
                height: 300px;
                width: 100%;
                
                img{
                    height: 250px;
                    padding-left: .5rem;
                }
                
            }
            
            .gallery-col-3{
                flex-direction: row;
                height: 300px;
                width: 100%;
                
                
                img{
                    height: 250px;
                    padding-left: .5rem;
                }
            }
        }
    }
    
    /* ===== End of Gallery section ===== */
   
    
    /* ===== Client section ===== */
    
    .quote-1{
        width: 46%;
    }
    
    .client-form{
        margin-top: 5rem;
    }
    
    /* ===== Client section ===== */

    
    /* ===== Footer section ===== */
    .footer{
        
        &-content{
            
            &-reserved{
                font-size: 1.4rem;
            }
            
            &-number{
                font-size: 1.7rem;
            }
        }
    }
    
    /* ===== End of Footer section ===== */
}




@media screen and (min-width:900px) and ( max-width: 1199px ){
    
    /* ===== Header section ===== */
    
        .header{
        
            &::before{
                content: '';
                height: 90px;
                width: 100%;
                position: absolute;
                box-shadow: inset 0 0 0 80px rgba(255, 255, 255, 0.3);
                z-index: 1;
            }
        
        }
    
    
    /* ===== End of Header section ===== */
    
    /* ===== Journal section ===== */
    
    
    .journal-box-first{
        
        &__info{
            width: 100%;
            
            &-heading{
               font-size: 1rem; 
            }
            
            &-text{
                font-size: 1rem;
            }
        }
        
        &__img-1{
            width: 100%;
        }
        
    }
    
    .journal-box-second{
        
       &__info{
           width: 100%;
            
            &-heading{
               font-size: 1rem; 
            }
            
            &-text{
                font-size: 1rem;
            }
        }
        
        &__img-1{
            width: 100%;
        }
    } 
    
    .journal-box-third{
        
        &__info{
            width: 100%;
            
            &-heading{
               font-size: 1rem; 
            }
            
            &-text{
                font-size: 1rem;
            }
        }
        
        &__img-1{
            width: 100%;
        }
    }
    
    
    
    .journal-box-first{
        width: 33.33%;
    }
    
    .journal-box-second{
        width: 33.33%;
    }
    
    .journal-box-third{
        width: 33.33%;
    }

    
    .header-menu-list__item{
        margin-right: 1rem;
    }
    
    
    /* ===== End of Journal section ===== */

    .about{
        display: flex;
    

        .about-wrapp{
            display: flex;
            justify-content: flex-start;

            .about-images{
                position: relative;
                top: -40px;
                left: 0;
            }
        }
    }
    
    /* ===== Wanna section ===== */
    
    .form{
        
        input{
            width: 275px;
        }
    }
    
     /* ===== End of Wanna section ===== */
  
}

@media screen and (min-width: 1200px) and (max-width: 1799px){
    
    /* ===== Header section ===== */
    
    .header{
        
        &::before{
            content: '';
            height: 90px;
            width: 100%;
            position: absolute;
            box-shadow: inset 0 0 0 80px rgba(255, 255, 255, 0.3);
            z-index: 1;
        }
        
    }
    
    /* ===== End of Header section ===== */
    
    /* ===== Client section ===== */
    
//    .client{
//        background-position: -362px 114px;
//    }
//    
    /* ===== Client section ===== */
    


    
}

@media screen and (min-width: 1800px){
 
    .wrapper{
        width: 1400px;
    }
    
    /* ===== Header section ===== */
    
    .header{
        
        &::before{
            content: '';
            height: 90px;
            width: 100%;
            position: absolute;
            box-shadow: inset 0 0 0 80px rgba(255, 255, 255, 0.3);
            z-index: 1;
        }
        
    }
    
    /* ===== End of Header section ===== */
    
        /* ===== Client section ===== */
    
    .client{
        background-position: -262px 114px;
    }
    
    /* ===== Client section ===== */
    
}


